@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,600i,700,700i,800|Open+Sans:400,400i,600,600i,700,700i,800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap);

/*!------------------------------------------------------------------
[MAIN STYLESHEET]

Template Name: Constra - Construction Html5 Template
Description: Constra - Construction Html5 Template
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@media (min-width: 800px) {
    .desktop-hide {
        display: none !important;
    }
    #top-section {
        padding: 0px 50px !important;
    }
    .sticky {
        padding: 20px 50px !important;
    }
}

@media (max-width: 767px) {
    .mobile-hide {
        display: none !important;
    }
    .sticky {
        padding: 20px 0px !important;
    }
    #nav-bar-for-responsive {
        padding: 0px !important;
    }
    .mobile-padding-0 {
        padding: 0px !important;
    }
    .mobile-padding-3 {
        padding: 3px !important;
    }
    .mobile-padding-10 {
        padding: 10px !important;
    }
    .mobile-padding-20 {
        padding: 20px !important;
    }
    .mobile-padding-15 {
        padding: 15px !important;
    }
    .description {
        height: 100px;
        overflow: hidden;
        text-overflow: hidden;
    }
    #top-banner-container {
        padding: 0px !important;
        height: 30vh !important;
    }
    #top-banner-bg {
        height: 35vh !important;
    }
}


/* Typography
================================================== */

.primary-font {
    font-family: "Open Sans", sans-serif !important;
}

.secondary-font {
    font-family: "Montserrat", sans-serif !important;
}

.title-font {
    font-family: "Poppins", sans-serif !important;
}

.background-primary {
    background-color: #012347 !important;
}

.pointer:hover {
    cursor: pointer !important;
}

.brand-link {
    text-decoration: none;
    color: black !important;
}

.text-primary {
    color: white !important;
}

.brand-link:hover {
    text-decoration: none;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0px;
    background-color: #012347;
    left: 0px;
}

.center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column !important;
}

.top-nav-link {
    margin-right: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8) !important;
}

.dropdown-items {
    color: black !important;
}

.top-nav-link:hover {
    transition-duration: 0.3s;
    color: white !important;
}

.slider-custom-items {
    width: 100%;
    height: 70vh !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.nice-muted {
    color: rgba(255, 255, 255, 0.8) !important;
}

.no-underline {
    text-decoration: none !important;
}

.custom-card {
    border-radius: 10px;
    padding: 30px 20px;
    background: white !important;
    margin-right: 10px;
}

.custom-card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition-duration: 1s;
}

#job-slider {
    position: relative;
}

#job_prev {
    left: 20px;
}

.jobs-slider {
    transform-origin: 50px !important;
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.12);
    border: none;
    color: white;
    border-radius: 100%;
}

#job_next {
    right: 20px;
}

.admin-sidebar-components {
    padding: 0px;
    margin: 0px;
}

.admin-sidebar-components li {
    list-style-type: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    margin: 5px 0px;
    background-color: #f4f4f44d;
}

.admin-sidebar-components li a {
    color: rgba(0, 0, 0, 0.7) !important;
}

.admin-sidebar-components li:hover {
    transition-duration: 0.3s;
    background-color: #dadada4d;
}

.post-a-job {
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.01);
}

.post-a-job:hover {
    transition-duration: 0.3s;
    background-color: rgba(0, 0, 0, 0.025) !important;
}

body,
nav {
    background: rgba(0, 0, 0, 0.9);
    color: white !important;
}

input {
    background: rgba(255, 255, 255, 0.1) !important;
    color: white !important;
}

td {
    color: white !important;
}